{% load formatting %}

{% url n_pret_today as pret_today %}
{% url n_pret_tomorrow as pret_tomorrow %}
{% url n_eat_today as eat_today %}
{% url n_eat_tomorrow as eat_tomorrow %}
{% url n_tossed_today as tossed_today %}
{% url n_tossed_tomorrow as tossed_tomorrow %}
{% url n_abokado_today as abokado_today %}
{% url n_abokado_tomorrow as abokado_tomorrow %}
{% url n_leon_today as leon_today %}
{% url n_nusa_today as nusa_today %}
{% url n_pages_about as pages_about %}

<nav id="primary">
    <a{% active request pret_today %} href="{{ pret_today }}">Pret Today</a> |
    <a{% active request pret_tomorrow %} href="{{ pret_tomorrow }}">Pret Tomorrow</a> |
    <a{% active request eat_today %} href="{{ eat_today }}">EAT Today</a> |
    <a{% active request eat_tomorrow %} href="{{ eat_tomorrow }}">EAT Tomorrow</a> |
    <a{% active request tossed_today %} href="{{ tossed_today }}">Tossed</a> |
    <!-- a{% active request tossed_tomorrow %} href="{{ tossed_tomorrow }}">Tossed Tomorrow</a> | -->
    <a{% active request abokado_today %} href="{{ abokado_today }}">Abokado</a> |
    <!-- a{% active request abokado_tomorrow %} href="{{ abokado_tomorrow }}">Abokado Tomorrow</a> | -->
    <a{% active request leon_today %} href="{{ leon_today }}">Leon</a> | 
    <a{% active request nusa_today %} href="{{ nusa_today }}">Nusa</a> 
</nav>
