html, body, #container {
	margin: 0; padding: 0;
}

body      {       background-color: #840215;   color: white;   }
body.abokado {    background-color: #9F6614;   color: white;   }
body.apostrophe { background-color: #F2F2EF;   color: #E6007E; }
body.benugo {     background-color: #E0DEDF;   color: #242424; }
body.eat {        background-color: #DDBE89;   color: #693828; }
body.leon {       background-color: #D5BB88;   color: #0E456C; }
body.nusa {       background-color: #F8981D;   color: white;   }
body.pure {       background-color: #F7F4E3;   color: #6C5A51; }
body.tossed {     background-color: #EA447E;   color: white;   }
body.pages {      background-color: OliveDrab; color: white;   }

#main {
	font-family: "Times New Roman", serif;
	text-align: center;
	font-size: 5em;
	width: 99%;
	margin-top: 8%;
	margin-bottom: 5%;
}

#main.shop_all {
	line-height: 130%;
}

#main .shop_branch {
	margin: 0 0 4% 0;
	font-size: 45%;
}

#main .shop_branch h3 {
	margin: 0px;
	padding: 0px;
}

#main .shop_branch p {
	margin: 0 0 4% 0;
}

nav#primary {
	position: absolute;
	top: 4px;
	width: 99%;
	text-align: center;
	font-family: helvetica, arial, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0.2em;
	color: white;
}

nav#primary a {
	color: white;
}

body.apostrophe nav#primary, body.apostrophe nav#primary a  { color: #E6007E; }
body.benugo nav#primary, body.benugo nav#primary a  { color: #242424; }
body.eat nav#primary, body.eat nav#primary a  { color: #693828; }
body.leon nav#primary, body.leon nav#primary a { color: #0E456C; }
body.pure nav#primary, body.pure nav#primary a { color: #6C5A51; }

nav#primary a.current {
	text-decoration: none;
}

#about {
	font-family: helvetica, arial, sans-serif;
	width: 70%;
	position: absolute;
	top: 5%;
	left: 15%;
}

#about h2, #about h3 {
	margin-top: 2em;
}

#about dt {
	font-weight: bold;
}

#about a {
	color: white;
}

#promo {
	font-family: helvetica, arial, sans-serif;
	width: 99%;
	text-align: center;
	padding-bottom: 1em;
}

#promo a { color: white; }
body.apostrophe #promo a { color: #E6007E; }
body.benugo #promo a { color: #242424; }
body.eat #promo a { color: #693828; }
body.leon #promo a { color: #0E456C; }
body.pure #promo a { color: #0E456C; }
body.pure #promo a { color: #6C5A51; }
