{% load formatting %}

<div id="container">
	<div id="main">{{ soup|delineate_soup }}</div>


<div id="promo">

<p>
	<a href="http://www.amazon.co.uk/Food-Drink-Books/b?ie=UTF8&amp;node=66&amp;ref_=amb_link_159071707_12&amp;_encoding=UTF8&amp;tag=whatsoup-21&amp;linkCode=ur2&amp;camp=1634&amp;creative=19450">Food and Drink Books</a>
</p>



{% if bodyclass == 'pret' %}

<!-- p>
    <a href="http://www.amazon.co.uk/gp/product/1921208910/ref=as_li_ss_tl?ie=UTF8&amp;tag=whatsoup-21&amp;linkCode=as2&amp;camp=1634&amp;creative=19450&amp;creativeASIN=1921208910">Pret A Manger Food on the Move</a><img src="http://www.assoc-amazon.co.uk/e/ir?t=&amp;l=as2&amp;o=2&amp;a=1921208910" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</p -->

<p>
    <a href="http://www.topcashback.co.uk/ref/Shoes_Buttback">Get Free Cashback</a>
</p>

<p>
    <a href="http://www.amazon.co.uk/gp/product/0330348302/ref=as_li_ss_tl?ie=UTF8&amp;tag=whatsoup-21&amp;linkCode=as2&amp;camp=1634&amp;creative=19450&amp;creativeASIN=0330348302">"Pret a Manger" Salads and Sandwiches, How to Make Them at Home</a><img src="http://www.assoc-amazon.co.uk/e/ir?t=&amp;l=as2&amp;o=2&amp;a=0330348302" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</p>

{% endif %}


{% if bodyclass == 'eat' %}

<!-- p>
    <a href="http://capitalbooks.com/">Capital Books</a>
</p -->

<p>
    <a href="http://www.topcashback.co.uk/ref/Shoes_Buttback">Get Free Cashback</a>
</p>

<p>
    <a href="http://www.amazon.co.uk/gp/product/0752227432/ref=as_li_ss_tl?ie=UTF8&amp;tag=whatsoup-21&amp;linkCode=as2&amp;camp=1634&amp;creative=19450&amp;creativeASIN=0752227432">A Soup for Every Day: 365 of Our Favourite Recipes (New Covent Garden Soup Company)</a><img src="http://www.assoc-amazon.co.uk/e/ir?t=&amp;l=as2&amp;o=2&amp;a=0752227432" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</p>

<!-- p>
    <a href="http://www.amazon.co.uk/gp/product/1856266494/ref=as_li_ss_tl?ie=UTF8&amp;tag=whatsoup-21&amp;linkCode=as2&amp;camp=1634&amp;creative=19450&amp;creativeASIN=1856266494">Wagamama Cookbook and DVD</a><img src="http://www.assoc-amazon.co.uk/e/ir?t=&amp;l=as2&amp;o=2&amp;a=1856266494" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</p -->

{% endif %}


{% if bodyclass == 'tossed' %}

<p>
    <a href="http://www.amazon.co.uk/gp/product/1844009424/ref=as_li_ss_tl?ie=UTF8&amp;tag=whatsoup-21&amp;linkCode=as2&amp;camp=1634&amp;creative=19450&amp;creativeASIN=1844009424">Two Greedy Italians</a><img src="http://www.assoc-amazon.co.uk/e/ir?t=&amp;l=as2&amp;o=2&amp;a=1844009424" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</p>

<p>
    <a href="http://www.amazon.co.uk/gp/product/0718154770/ref=as_li_ss_tl?ie=UTF8&amp;tag=whatsoup-21&amp;linkCode=as2&amp;camp=1634&amp;creative=19450&amp;creativeASIN=0718154770">Jamie's 30-Minute Meals: A Revolutionary Approach to Cooking Good Food Fast</a><img src="http://www.assoc-amazon.co.uk/e/ir?t=&amp;l=as2&amp;o=2&amp;a=0718154770" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</p>

{% endif %}


{% if bodyclass == 'leon' %}

<p>
    <a href="http://www.amazon.co.uk/gp/product/1840915560/ref=as_li_ss_tl?ie=UTF8&amp;tag=whatsoup-21&amp;linkCode=as2&amp;camp=1634&amp;creative=19450&amp;creativeASIN=1840915560">Leon: Naturally Fast Food. Book 2</a><img src="http://www.assoc-amazon.co.uk/e/ir?t=&amp;l=as2&amp;o=2&amp;a=1840915560" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</p>

<p>
    <a href="http://www.amazon.co.uk/gp/product/184091579X/ref=as_li_ss_tl?ie=UTF8&amp;tag=whatsoup-21&amp;linkCode=as2&amp;camp=1634&amp;creative=19450&amp;creativeASIN=184091579X">Leon: Baking &amp; Puddings, have your cake and eat it.</a><img src="http://www.assoc-amazon.co.uk/e/ir?t=&amp;l=as2&amp;o=2&amp;a=184091579X" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</p>

{% endif %}

</div>


</div>
